.pack-opener-content > h2 {
    text-decoration: underline;
    text-align: center;
}

.cards {
    color: white;
    font-size: large;
}

b {
    -webkit-text-stroke: 0.7px black;
}

.premium-card {
    color: rgb(179, 153, 11);
}

.peeler {
    height: 63px;
    line-height: 63px;
    text-align: center;
}

.peeler > div {
    width: 330px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.peeler-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    overflow: hidden;
}