.pack-opener-content > h2 {
    text-decoration: underline;
    text-align: center;
}

.top-table {
    margin-bottom: 10vh;
    width: 100%;
}

tr, th, td {
    text-align: center;
    border: 1px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

th {
    font-size: larger;
    border: 3px solid;
}

th:first-child:hover {
    cursor: pointer;
}

td {
    font-weight: 600;
}

td:first-child {
    font-weight: 700;
}

tr:last-child {
    border-bottom: 3px solid;
}

tbody > tr:hover {
    background-color: rgb(172, 170, 170);
}

.hover-class {
    background-color: yellow;
}

.nested-data {
    width: 100%;
}

.nested-data > tr {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
}

.nested-data > tr:last-child {
    border-bottom: none;
}

.cards {
    color: white;
    font-size: large;
}

b {
    -webkit-text-stroke: 0.7px black;
}

.premium-card {
    color: rgb(179, 153, 11);
}

.peeler {
    height: 63px;
    line-height: 63px;
    text-align: center;
}

.peeler > div {
    width: 330px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.peeler-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    overflow: hidden;
}